doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        link(href='./styles/main.sass', rel='stylesheet')
    body
        #root
        script(src='./js/index.js')
